/*
███╗   ███╗ █████╗ ██╗███╗   ██╗    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
████╗ ████║██╔══██╗██║████╗  ██║    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
██╔████╔██║███████║██║██╔██╗ ██║    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
██║╚██╔╝██║██╔══██║██║██║╚██╗██║    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║    ███████║   ██║      ██║   ███████╗███████╗███████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
                                                                                      
*/
html{
    scroll-behavior: smooth;
}
body{
    background-color:$primary-black;
    font-family: asap, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16pt;
    line-height: 1.2em;
    color: white;
}
.makeStyles-root-1{
    background-color:$primary-black !important;
}
p{
    font-family: asap, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:14pt;
    color:white;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6{
    font-family: niagara,serif;
    font-weight: 400;
    font-style: normal;
    color: $primary-gold;
}
h1{
    font-size: 3rem;
    width:100%;
    clear:both;
}
.span{
    opacity:.4;
    margin:.5rem 0 .5rem 0;
    display: block;
}
.gold{
    color:$primary-gold;
}
.black-background{
    background-color: $process-black;
    margin-top:12rem;
    padding:5rem 0;
}
section{
    margin-top:5rem;
}
hr{
    background-color: $primary-gold;
    height:.5px;
    border:none;
    width:50%;
    margin-bottom:2rem;
}
ul{
    text-align: left;
    li.specimin{
        text-decoration: none;
        list-style: none;
        list-style-type: none;
        display: inline-block;
        font-family: niagara,serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6rem;
        margin:3rem;
    }
}
ul{
    li{
        text-decoration: none;
        list-style: none;
        list-style-type: none;
        font-family: niagara,serif;
        font-size:3rem;
        line-height: 4rem;
    }
}
hr.left{
    float: left;
}
.niagara{
    font-family: niagara,serif;
}
.columns{
    padding:0 15pt 0 15pt;
}
.thin{
    font-family: niagara,serif;
    font-weight: 200;
    font-style: normal;
}
.light{
    font-family: niagara,serif;
    font-weight: 300;
    font-style: normal;
}
.regular{
    font-family: niagara,serif;
    font-weight: 400;
    font-style: normal;
}
.weights{
    margin-bottom:0;
    font-size:4.5rem;
    line-height: 5rem;
    margin-top:.5rem;
}
.n-margin{
    margin:0;
}
.fade{
    opacity: .4;
}
.MuiGrid-grid-xs-4{
    p{
        padding-right:10pt;
    }
}
.upper-case{
    text-transform: uppercase;
}